@{
  Layout = "_Layout";
}

@model AnimalShelter.Models.Types

<h4>Add a new type of animal</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)
  <input type="submit" value="Add new type" />
}
<p>@Html.ActionLink("Show all types of animos", "Index")</p>