@{
  Layout = "_Layout";
}

@model AnimalShelter.Models.Types

<h2>Animal Type Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)<h3>
<p>@Html.ActionLink("Back to list", "Index")</p>